VITE_SUPABASE_URL=https://bsjubqklglasawuxynrn.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJzanVicWtsZ2xhc2F3dXh5bnJuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjA5NDc5ODEsImV4cCI6MjA3NjUyMzk4MX0.4CnxF3C1fd3VBRyIYuRqcM2sl68anoOpSLB8kk5-QvU
